@{
    ViewBag.Title = "_Footer1";
    Layout = null;
}

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer">
    <div class="footbox">
      <h2>National News</h2>
      <ul>
        <li><a href="http://news.ptv.com.pk/" target="_blank">PTV News</a></li>
        <li><a href="http://www.radio.gov.pk/" target="_blank">Radio Pakistan</a></li>
       
      </ul>
    </div>
    <div class="footbox">
      <h2>Urdu News Papers</h2>
      <ul>
        <li><a href="http://www.express.com.pk/epaper/" target="_blank">Express Epaper</a></li>
        <li><a href="http://e.jang.com.pk/" target="_blank">Jang Epaper</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>English News Papers</h2>
      <ul>
        <li><a href="http://epaper.dawn.com/" target="_blank">Dawn Epaper</a></li>
        <li><a href="http://nation.com.pk/" target="_blank">The Nation Epaper</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>International News</h2>
      <ul>
        <li><a href="http://www.nytimes.com/pages/todayspaper/index.html" target="_blank">TheNew York Times</a></li>
        <li><a href="http://www.wsj.com/itp" target="_blank">Wall Street Journal</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>International News</h2>
      <ul>
        <li><a href="http://www.theguardian.com/international" target="_blank">The Guardian</a></li>
        <li><a href="https://ftepaper.ft.com/signin" target="_blank">Financial Times</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="https://www.facebook.com/"><img src="~/layout/images/facebook.gif" alt="" /><span>Facebook</span></a></li>
      <li><a href="#"><img src="~/layout/images/rss.gif" alt="" /><span>Whatsapp</span></a></li>
      <li class="last"><a href="https://twitter.com/?lang=en"><img src="~/layout/images/twitter.gif" alt="" /><span>Twitter</span></a></li>
    </ul>
    <div id="newsletter">
      <h2>PoliticalReview Sign Up !</h2>
      <p>Please enter your Email and Name to join.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Digital PoliticalReview</legend>
          <div class="fl_left">
            <input type="text" value="Enter name here&hellip;"  onfocus="this.value=(this.value=='Enter name here&hellip;')? '' : this.value ;" />
            <input type="text" value="Enter email address&hellip;"  onfocus="this.value=(this.value=='Enter email address&hellip;')? '' : this.value ;" />
          </div>
          <div class="fl_right">
            <input type="submit" name="newsletter_go" id="newsletter_go" value="&raquo;" />
          </div>
        </fieldset>
      </form>
      <p>To unsubsribe please <a href="#">click here &raquo;</a>.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right"><a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates"> Maibal & Nasar </a> </p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
